.app_violet_theme {
  --bg-color: #aeaff5;
  --inverted-bg-color: #f4f4fb;
  --primary-color: #3971f8;
  --secondary-color: #2061f9;
  --inverted-primary-color: #0232c2;
  --inverted-secondary-color: #0449e0;
}
